name: "HTML2PDF4DOC on macOS"

on:
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    runs-on: macos-15

    strategy:
      matrix:
        python-version: [
          "3.8", "3.12"
        ]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        architecture: 'arm64'

    - name: Upgrade pip
      run: |
        python -m pip install --upgrade pip

    - name: Install Python packages
      run: |
        pip install -r requirements.txt

    - name: Install NPM packages
      run: |
        npm install

    - name: Run unit tests
      run: |
        invoke test-unit

    - name: Run tests
      run: |
        invoke test-end2end
